extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/bookshelf_edit.css")
  //- add page specific js
  script(src="/javascripts/bookshelf_edit.js" type="module" defer)

block content
  div(class='bookshelf-edit-path')
    div(class='path-no-link') My Profile
    div(class='path-no-link') >
    a(href=`/users/${user.id}/bookshelves` class='path-link') My Books
    div(class='path-no-link') >
    div(class='path-no-link') Edit Shelves
  div(class='new-shelf-section')
    input(type='text' class='new-shelf-input' placeholder='Add a Shelf')
    button(class='new-shelf-submit') Add
  table(class="shelf-table")
    thead
      tr
        th
        th shelf
        th editable
    tbody
      each shelf in bookshelves
        tr(data-editable=shelf.deleteAllowed data-shelf-id=shelf.id)
          td
            if shelf.deleteAllowed
              i(class='fas fa-times delete-shelf' id=shelf.id)
          td(class='shelf-name')=shelf.name
          td(class="editable-container")
            i(class=`editable fas ${shelf.deleteAllowed ? 'fa-check' : 'fa-times'}`)
  div(class='lower-bookshelf-buttons')
    div(class='delete-all') delete all my shelves
    button(class='backtrack') I'm Done