extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/bookshelf_page.css")
  //- add page specific js
  script(src="/javascripts/bookshelf_page.js" type="module" defer)

block content
  .page-container
    .bookshelf-header
      h3 My Stories
    .page-content
      .sidebar
        h6 Bookshelves
          a(href='/bookshelves/edit' class='bookshelf-edit-link') (edit)
        div(class='bookshelves-container')
          div(class=`bookshelf-selector ${selected === '' ? 'selected' : ''}` id=0) All 
            if parseInt(mode) >= 3
              |(#{allCount})
          each bookshelf in user.Bookshelves
            div(class=`bookshelf-selector ${selected === bookshelf.name ? 'selected' : ''}` id=bookshelf.id) #{bookshelf.name} 
              if parseInt(mode) >= 3
                |(#{bookshelf.Stories.length})
        button(class="add-new-bookshelf-button") Add shelf
        div(class='add-new-bookshelf-form-container hidden')
          div(class='add-new-bookshelf-title') Add a Shelf:
          div(class='add-new-bookshelf-input-section')
            input(type='text' class='add-new-bookshelf-input')
            button(class='add-new-bookshelf-submit-button') add
      .main-content
        if parseInt(mode) >= 3
          table(class='stories-list-table')
            thead
              tr
                th cover
                th.title-header title
                th author
                // This number may change based on review completion
                if parseInt(mode) >= 4
                  th avg rating
                  th rating
                th shelves
                th date read
                th date added
            tbody
              each story in loadedStories
                tr.story-row
                  td: img(src=story.imageUrl class='image-preview')
                  td.story-title: a(href=`/stories/${story.id}`)=story.title
                  td.story-author=story.author
                  if parseInt(mode) >= 4
                    td=story.avg_rating
                    th=story.rating
                  td.story-shelf-list=story.Bookshelves.map(shelf => shelf.name).join(', ')
                  td.story-date-read Not set
                  - var date = story.Placements[0].createdAt.toString().slice(4, 16)
                  td.story-date-added #{date.slice(0,6) + ',' + date.slice(6)}