extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  if (parseInt(mode) === 0)
    h1= title
    p Welcome to your Project Skeleton
  else
    if authenticated
      if (parseInt(mode) >= 3)
        .homepage-content.beige
          .homepage-left
            -const curr_reading = userInfo.Bookshelves.filter(shelf => shelf.name === 'Currently Reading')[0]
            -const curr_reading_story = curr_reading.Stories[0]
            .currently-reading-example-section-container
              .currently-reading-example-title= curr_reading.name
              .currently-reading-example-body-container
                a(href=`/stories/${curr_reading_story.id}`)
                  img(src=curr_reading_story.imageUrl class='currently-reading-example-image')
                .currently-reading-example-details-container
                  .currently-reading-example-story-title= curr_reading_story.title
                  .currently-reading-example-story-author By #{curr_reading_story.author}
              .currently-reading-example-button-section
                a(href=`/users/${user.id}/bookshelves?selected=Currently-Reading` class='currently-reading-section-button') View all books
            -const want_read = userInfo.Bookshelves.filter(shelf => shelf.name === 'Want To Read')[0]
            -const want_read_stories = want_read.Stories.slice(0,3)
            .want-to-read-examples-section-container
              .want-to-read-examples-title= want_read.name
              .want-to-read-story-images-container
                each story in want_read_stories
                  a(href=`/stories/${story.id}`): img(src=story.imageUrl class='want-to-read-story-image')
              .want-to-read-example-button-section
                a(href=`/users/${user.id}/bookshelves?selected=Want-To-Read` class='want-to-read-section-button') View all books
            .bookshelves-listing-section-container
              .bookshelves-listing-title Bookshelves
              .bookshelves-listing-shelves-container
                each shelf in userInfo.Bookshelves
                  -const queryVar = shelf.name.split(' ').join('-');
                  a(href=`/users/${user.id}/bookshelves?selected=${queryVar}` class='bookshelves-listing-shelf-container')
                    .shelf-count= shelf.Stories.length
                    .shelf-name= shelf.name
          .homepage-right.logged-in
            .social-feed-section-container
              each placement in feed
                .feed-instance-container
                  .feed-instance-top-section
                    .feed-instance-username-section
                      -const shelf = placement.Bookshelf
                      -const action = shelf.name === 'Want To Read' ? 'wants to read' : shelf.name === 'Currently Reading' ? 'is reading' : shelf.name === 'Read' ? 'has read' : 'is breaking my app';
                      .feed-instance-username= placement.Bookshelf.User.username
                      | #{action}
                    -const date = placement.updatedAt.toString().slice(4, 16)
                    .feed-instance-update-date #{date.slice(0,6) + ',' + date.slice(6)}
                  -const story = placement.Story
                  .feed-instance-main-content-section
                    a(href=`/stories/${story.id}`)
                      img(src=story.imageUrl class='feed-instance-image')
                    .feed-instance-details-section
                      .feed-instance-title= story.title
                      .feed-instance-author By #{story.author}
                      - let shelf_name, shelf_id
                      - Object.values(currentUserBookshelfIds).forEach(shelf =>{ if (shelf.stories.includes(story.id) && shelf.standard) {shelf_name = shelf.name; shelf_id = shelf.id}})
                      if shelf_id === undefined
                        -const wtr_id = userInfo.Bookshelves.filter(shelf => shelf.name === 'Want To Read')[0].id
                        .feed-bookshelf-selector-container
                          div(class='feed-bookshelf-wtr-button' data-story-id=story.id id=wtr_id) Want To Read
                          div(class='feed-modal-container')
                            i(class='feed-modal-button fas fa-chevron-down')
                            .feed-modal
                              each shelf in userInfo.Bookshelves.filter(shelf => !shelf.deleteAllowed)
                                div(class='standard-shelf' data-story-id=story.id id=shelf.id)= shelf.name
                              each shelf in userInfo.Bookshelves.filter(shelf => shelf.deleteAllowed)
                                div(class='nonstandard-shelf-container' data-story-id=story.id id=shelf.id)
                                  input(type='checkbox' checked=shelf.Stories.map(story => story.id).includes(story.id))
                                  div(class='standard-shelf' id=shelf.id)= shelf.name
                      else
                        .feed-bookshelf-selector-container
                          div(class='feed-bookshelf-selected' id=shelf_id)
                            i.fas.fa-check.feed-check
                            .feed-bookshelf-selected-name #{shelf_name}
                          div(class='feed-modal-container')
                            i(class='feed-modal-button fas fa-chevron-down')
                            .feed-modal
                              each shelf in userInfo.Bookshelves.filter(shelf => !shelf.deleteAllowed)
                                div(class='standard-shelf' data-story-id=story.id id=shelf.id)= shelf.name
                              each shelf in userInfo.Bookshelves.filter(shelf => shelf.deleteAllowed)
                                div(class='nonstandard-shelf-container' data-story-id=story.id id=shelf.id)
                                  input(type='checkbox' checked=shelf.Stories.map(story => story.id).includes(story.id))
                                  div(class='standard-shelf' id=shelf.id)= shelf.name
                      .feed-instance-description #{story.description || 'No description provided'}
                      .feed-instance-link-container
                        a(href=`/stories/${story.id}` class='feed-instance-link') Continue Reading

    else
      .logo-container
        a(href='/' class="logo-link")
          img(src='/images/logo.png' class="auth-logo")
      .header
        img(src='/images/royal.jpg' class="header-image")
        .auth-container
          div.auth-container-title Discover and Read More
          form(action='/users/demo' method='post')
            button(type="submit" class="demo-button") Demo Login
          a(href="/users/signup" class="signup-button") Sign up with email
          div.auth-container-description
            | By creating an account, you agree to 
            b nothing 
            | and are beholden to 
            b no one.
          .login-container
            div.login-description Already a member?
            a(href='/users/login' class="login-text") Sign in
      if (parseInt(mode) >= 3)
        .homepage-content
          .homepage-left
            .currently-reading-examples-container
              div(class='currently-reading-examples-title') Here's what people are reading
              each user in currentlyReadingUsers
                div(class='individual-user-container')
                  div(class='individual-user-container-title') #{user.username} is currently reading
                  div(class="individual-user-images-container")
                    each story in user.Bookshelves[0].Stories
                      a(href=`/stories/${story.id}`)
                        img(src=story.imageUrl class='individual-user-story-image' title=story.title)
          .homepage-right
            .list-container
              div(class='homepage-list-section-title') Love Lists?
              each user in customBookshelfUsers
                -var bookshelf = user.Bookshelves[0]
                div(class='homepage-list-container')
                  div(class='homepage-list-left')
                    div(class='list-section-list-title')= bookshelf.name
                    div(class='list-section-author')= user.username
                  div(class='homepage-list-right')
                    each story in bookshelf.Stories.slice(0, 6)
                      a(href=`/stories/${story.id}`)
                        img(class='homepage-list-right-image' src=story.imageUrl)

