extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  if (parseInt(mode) === 0)
    h1= title
    p Welcome to your Project Skeleton
  else
    if authenticated
      //- This area should be solely for content on the home page
      //- .logo-container
        a(href='/' class="logo-link")
          img(src='/images/logo.png' class="auth-logo")
    else
      .logo-container
        a(href='/' class="logo-link")
          img(src='/images/logo.png' class="auth-logo")
      .header
        img(src='/images/royal.jpg' class="header-image")
        .auth-container
          div.auth-container-title Discover and Read More
          form(action='/users/demo' method='post')
            button(type="submit" class="demo-button") Demo Login
          a(href="/users/signup" class="signup-button") Sign up with email
          div.auth-container-description
            | By creating an account, you agree to 
            b nothing 
            | and are beholden to 
            b no one.
          .login-container
            div.login-description Already a member?
            a(href='/users/login' class="login-text") Sign in
      if(parseInt(mode) >= 3)
        .homepage-content
          .homepage-left
            .currently-reading-examples-container
              div(class='currently-reading-examples-title') Here's what people are reading
              each user in currentlyReadingUsers
                div(class='individual-user-container')
                  div(class='individual-user-container-title') #{user.username} is currently reading
                  div(class="individual-user-images-container")
                    each story in user.Bookshelves[0].Stories
                      a(href=`/stories/${story.id}`)
                        img(src=story.imageUrl class='individual-user-story-image' title=story.title)
          .homepage-right
            .list-container
              div(class='homepage-list-section-title') Love Lists?
              each user in customBookshelfUsers
                -var bookshelf = user.Bookshelves[0]
                div(class='homepage-list-left')
                  div(class='list-section-list-title')= bookshelf.title
                div(class='homepage-list-right')
                  each story in bookshelf.stories
                    img(class='homepage-list-right-image' src=story.imageUrl)

