doctype html
html
  head
      block head
        title= title || "RoyalReads"
        script(src="https://kit.fontawesome.com/a229c5b13d.js" crossorigin="anonymous")
        link(rel='stylesheet' href='/stylesheets/reset.css')
        script(src="/javascripts/layout.js" type="module" defer)
        link(rel='stylesheet' href='/stylesheets/layout.css')
        link(rel="stylesheet" href="/stylesheets/page_not_made.css")
        if parseInt(mode) > 0
          link(rel="shortcut icon" href="favicon2.ico" type="image/x-icon")
  body(class=mode)
    div(class="mode-container" id=mode data-new-user=newUser)
    div(class="modal-section hidden")
      div(class="modal-background")
      div(class="modal-container")
    .stage-button-container
      .stage-button-reveal
        i(class="fas fa-bars burger" draggable="true" title="Switch version")
        .buttons
          button(class="switch-stage" data-stage=0) Project Starter
          button(class="switch-stage" data-stage=1) Auth
          button(class="switch-stage" data-stage=2) Bookshelves
          button(class="switch-stage" data-stage=3) Stories
          button(class="switch-stage" data-stage=4) Reviews
          button(class="switch-stage" data-stage=5) Tags (Bonus)
          button(class="switch-stage" data-stage=6) Search (Bonus)
    if parseInt(mode) >= 1 && authenticated
      .navbar
        .nav-logo-container
          a(href='/' class="nav-logo-link")
            img(src='/images/logo.png' class="nav-logo")
        if parseInt(mode) >= 6
          form(method='GET' action='/search' class='search-form')
            input(type='text' name='term' class='search-input' placeholder="Search Stories")
            button(type='submit' class='search-submit fas fa-search')
        .nav-icon-container
          div(class="icon-background")
            i(class="fas fa-book-reader nav-right-icon user-dropdown-button")
            .user-options.hidden
              div(class="dropdown-username")= user.username
              .user-menu-bottom-section
                form(action="/users/logout" method="post")
                  button(type="submit" class="logout-button user-menu-option") Sign out
    if parseInt(mode) >= 2 && authenticated && title !== 'Page Not Made'
      .navbar-lower
        a(href='/' class="navbar-text-link") Home
        a(href=`/users/${user.id}/bookshelves` class="navbar-text-link") My Books
        if parseInt(mode) >= 3
          a(href='/stories' class="navbar-text-link") Browse

    block content

    if mode !== '0'
      .footer-container
        .footer-left
          span(class="connect-title") Connect
          .connect-buttons
            a(href="https://github.com/chrisoney" class='button-container')
              i(class='o-link-button fab fa-github')
            a(href="https://www.linkedin.com/in/christopher-oney-317b84132/" class='button-container')
              i(class='o-link-button fab fa-linkedin')
            a(href="https://angel.co/u/christopher-oney" class='button-container')
              i(class='o-link-button fab fa-angellist')
            a(href="https://www.chrisoney.com" class='button-container')
              i(class='o-link-button fas fa-smile')
        .footer-right
          span(class='footer-info') 2021 RoyalReads
          span(class='footer-info') Only version
