extends layout

include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/story_page.css")
  //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")

  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  //- add page specific js
  script(src="/javascripts/story_page.js" type="module" defer)

block content
  div(class='story-id-container' id=story.id)
  .page-container
    .story-page-left-side
      .story-sticky-section
        img(src=story.imageUrl class='story-image')
        if story.Bookshelves.length > 0
          div(class='bookshelf-button-container added')
            i(class='fas fa-check')
            div(class='bookshelf-button-added' id=story.Bookshelves[0].id) #{story.Bookshelves[0].name}
        else
          div(class='bookshelf-button-container')
            div.placeholder
            div(class='bookshelf-button' id=wantToReadId) Want To Read
            i(class='fas fa-chevron-down')
    .story-page-right-side
      .story-details-container
        .story-title= story.title
        .story-author= story.author
        .story-description-container
          if story.description.length === 0
            .story-description.none No Description Provided
          else
            .story-description.shortened= story.description
            button(class='expand') ...more
        .story-warnings-section
          if story.warnings.warnings.length === 0
            .warnings-none No Warnings
          else
            .warnings-toggle Reveal Warnings
            .story-warnings-container.hidden
              each warning in story.warnings.warnings
                .story-warning= warning
        .story-other-details-section
          .other-details-page-count Royal Road Version, #{story.pageCount} pages
          .other-details-status Current Status: 
            div(class=`${story.status === 'HIATUS' ? 'status-red':'status-green'}`) #{story.status[0] + story.status.slice(1).toLowerCase()}
          .other-details-link: a(href=story.linkUrl) Link to Story
      if parseInt(mode) >= 4
        .reviews-section
          - const reviews = story.Reviews
          - const userReview = reviews.filter(review => review.userId === user.id)[0]
          .logged-in-user-rating-section
            if (userReview)
              .new-user-review-left
                .new-review-prompt Your review
                //- +ratingsSection(userReview.rating, story.id, true)
                div(class='ratings-container' data-story-id=story.id data-current-rating=userReview.rating)
                  - let i = 0, j = userReview.rating + 1
                  while i < userReview.rating
                    span(data-score=(i+1) class='fas fa-star user-rating')
                    - i++
                  while j <= 5
                    span(data-score=j class='far fa-star user-rating')
                    - j++
              if(!userReview.content)
                .new-user-review-right
                  button(class='reveal-form') Write a Review
            else
              .new-user-review-left
                .new-review-prompt #{user.username}, start your review of #{story.title}
                div(class='ratings-container' data-story-id=story.id data-current-rating=rating)
                  - let i = 0
                  while i < 5
                    span(data-score=(i+1) class='far fa-star user-rating')
                    - i++
              .new-user-review-right
                button(class='reveal-form') Write a Review
          .logged-in-user-review-content-section
            if (userReview)
              div(class=`user-review-content ${userReview.content ? '' : 'hidden'}`)= userReview.content
            else
              div(class=`user-review-content hidden`)= ''
            .user-review-form-section.hidden
              textarea(class='new-review-content-input')
              .user-review-form-button-section
                button(class='cancel-review-content-button') Cancel
                button(class='submit-review-content-button' data-story-id=story.id) Submit
          .other-reviews-section
            -const otherReviews = reviews.filter(review => review.userId !== user.id)
            .other-reviews-title-section
              .other-reviews-title Community Reviews
              if otherReviews.length > 0
                .other-reviews-numbers Showing 1 - #{otherReviews.length}
              else
                .other-reviews-numbers Showing 0 - 0

            .other-reviews-general-info-section
              -const ratings = otherReviews.map(review => review.rating).filter(rating => rating !== null)
              -const reviewContents = otherReviews.map(review => review.content).filter(content => content !== null && content !== '')
              -const avgRating = ratings.reduce((a,b) => {return a + b}, 0) / ratings.length
              .avg-star-section
                if ratings.length === 0
                  .no-ratings No ratings yet
                //- +ratingsSection(avgRating, story.id, false)
                else
                  div(class='ratings-container' data-story-id=story.id data-current-rating=avgRating)
                        - let i = 0, j = avgRating + 1
                        while i < avgRating
                          span(data-score=(i+1) class='fas fa-star')
                          - i++
                        while j <= 5
                          span(data-score=j class='far fa-star')
                          - j++
              .dot &#183;
              .num-review-parts #{reviewContents.length} Reviews
              .dot &#183;
              .num-review-parts #{ratings.length} Ratings
            .other-reviews-social-container
              //- -const otherReviews = reviews.filter(review => review.userId !== user.id)
              each review in otherReviews
                .review-container
                  .review-header
                    .review-header-left
                      .review-username= review.User.username
                      | rated it
                      //- +ratingsSection(review.rating, story.id, false)
                      div(class='ratings-container' data-story-id=story.id data-current-rating=review.rating)
                        - let x = 0, y = review.rating + 1
                        while x < review.rating
                          span(data-score=(x+1) class='fas fa-star')
                          - x++
                        while y <= 5
                          span(data-score=y class='far fa-star')
                          - y++
                    .review-header-right
                      .review-date= review.createdAt.toString().slice(4, 16)
                  .review-content-container
                    .review-content= review.content