mixin field(labelText, fieldName, fieldValue, placeholder, fieldType = 'text')
  div(class='form-group')
    label(for=fieldName class='form-label')= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin validationErrorSummary(errors)
  if errors
    ul.error-list 
      each error in errors
        li.error= error