mixin field(labelText, fieldName, fieldValue, placeholder, fieldType = 'text')
  div(class='form-group')
    label(for=fieldName class='form-label')= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin validationErrorSummary(errors)
  if errors
    ul.error-list 
      each error in errors
        li.error= error


mixin ratingsSection(rating, loggedin)
  .ratings-container
    if rating
      - var i = 0, j = rating + 1
      while i < rating
        span(id=(i+1) class=`fas fa-star ${loggedin ? 'user-rating' : ''}`)
        - i++
      while j <= 5
        span(id=j class=`far fa-star ${loggedin ? 'user-rating' : ''}`)
        - j++
    else
        - var i = 0
        while i < 5
        span(id=(i+1) class=`far fa-star ${loggedin ? 'user-rating' : ''}`)
        - i++